body{
    font-size: 16px;
    font-family: sans-serif;
}

h1{
    font-size: 1.5em;
}

h2{
    font-size: 1.25em;
}

h3{
    font-size: 1em;
}

p{
    font-size: 1em;
    line-height: 1.618em;
}

.container{
  /* width is 96% of the viewport */
  width:96%;

  /* http://stackoverflow.com/questions/5657964/css-why-doesn-t-percentage-height-work */
  /* by default height is set to the height of the block content */
  /* but we don't want to just override with that in pixels */
  /* instead height can be defined in viewport width unit, % of the width */
  /*height: 60vw;*/
  /* give some space at the top, and then centered */
  margin:2% auto;
  border: 1px solid darkred;
  border-radius: 10px;
  /* allow submit button to use position absolute, position absolute have problem with parent height
  because it is taken out of the flow */
  /* http://stackoverflow.com/questions/526035/html-css-positioning-float-bottom */
  /*position: relative;*/
}

.header {
  width:100%;
  /* 20% of the container height */
  height: 15%;
  /*border: 1px solid darkred;*/
}

.header__text{
  /* give some space on the left, and centered within header */
  width: 60%;
  /* 100% of the header height */
  height: 100%;
  margin: 2% 2%;
  color: darkred;
  display: inline-block;
  /* this is needed or else the inline-block will not align top */
  vertical-align: top;
}

.header__image {
  width: 20%;
    /* 100% of the header height */
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.header__image img {
  /* The percentage is calculated with respect to the height of the generated
  box's containing block. */
  width:90%; I
  height:90%;
  /*max-width: 90%;*/
  /*max-height: 90%;*/
}

.container hr {
  background-color: darkred;
  border: none;
  height: 1px;
}


/* start of content */

/* http://stackoverflow.com/questions/11250259/why-are-css-styles-not-inherited-by-html-form-fields */
/* make input fields inherit css styles */
.content input, select, textarea, button, datalist{
  font-size: inherit;
}

/* only the label within content will have these margins */
/* .content > label will only respond to immediate children but i have a containing div */
.content label, .content .option{
  margin-right: 3%;
  text-align: right;
}

[class*="grid__cell"] {
display: inline-block;
box-sizing: border-box;
margin-top: 1%;
/*vertical-align: top;*/
/*letter-spacing: normal;*/
/*word-spacing: normal;*/
/*border: 1px solid;*/
}

.grid__cell--two-third {
  width: 64%;
}

.grid__cell--one-third {
  width: 30%;
}

.grid__cell--one-quarter {
  width: 20%;
}

textarea{
  /* without this special instructions label will be align bottom*/
  vertical-align:top;
  /* override the default margin-top for grid__cell of 1% to fix
  alignment issue with label*/
  margin-top: -1%;
}


.option-group {
  margin-top: 2%;
}

.instruction-group {
  margin-top: 2%;
}


input[type="submit"] {
  background-color:crimson;
  color:white;
  border-radius: 5px;
  float: right;
  /* position absolute have problem with parent height
  because it is taken out of the flow */
  /*position: absolute;*/

  margin-top: 3%;
  margin-bottom: 5%;

  /* position right until it lines up nicely in the desktop column view */
  /* add a specific case for handheld for margin-right */
  margin-right: 12.5%;
}


/*@media all and (max-width: 1200px) and (min-width: 1000px) {*/
@media all and (min-width: 1000px) {
    body{
        font-size: 16px;
    }

    .container {
      /*height: 60vw;*/
    }


}

@media all and (max-width: 999px) and (min-width: 600px) {
    body{
        font-size: 14px;
    }

    .container {
      /*height: 80vw;*/
    }

}

/* mobile resolution */
@media all and (max-width: 599px) and (min-width: 320px) {
    body{
        font-size: 11px;
    }

    .container {
      /*height: 120vw;*/
    }

    .grid__cell--handheld-one-half {
      width: 40%;
      /*border: 1px solid;*/
    }

    input[type="submit"] {
      /* position right until it lines up nicely in the handheld in column view */
      margin-right: 16%;
    }

}
